html{
	height: 100%; /* make the image use the entire height */
}
body {
	font-family: Verdana, Arial Black; /* first display using verdana, if its not there display arial black */
	font-weight: normal; 	/* no font bolding */
	font-size: 20px; /* font sizefor the entire page */
	height: 100%; 	/* to make the image cover the entire page */
	margin: 0; /* no margin so the image starts at the very edge */
}
h1{
	margin: 0px; /* no white margin */
	text-align: right; /* right align */
	color: red; /* red color font*/
	clear: right; /* clear right so the h1 can stack below the nav bar*/
	padding-right: 270px; /* move away from the right edge of the screen */
}
#aboutlist{
	color: red; /* red color font */
	padding-right: 200px; /* padding away from the right edge */
	float: right; /* be next to the picture */
}
/*==================================BACKGROUND=====================================================================*/
#left-image {
	background-image: url("aboutimg.jpg"); /* load this image */
	background-color: black; 	/* cover the right half of the screen black */
	height: 100%; 	/* makes the image cover the entire page */
	background-position: left; 	/* center the image */
	background-repeat: no-repeat; 	/* dont repeat the image if it is smaller than the screen */
	background-size: contain; 	/* make sure the image isnt stretched */
}
/*==================================NAVBAR=================================================================*/
#navbar{
	height: 30px; /* the nav bar will be 30px tall */
	background-color: black; /* black background */
	border-radius: 1px; /* curve the edges by 1 px*/
	font-weight: bold; /*bold letters */
	float: right;
	display: block;
}
#navbar ul {
	list-style-type: none; /* remove the bullet points */
	margin: 0px; /*no margin so the buttons align with the h1 */
	padding: 0px; /* no padding so the buttons align with the h1 */
	text-align: center; /* center the buttons */
}
#navbar ul li {
	display: inline; /* display the buttons side by side */
	line-height: 28px; /* center the text within the box */
}
#navbar ul li a{
	text-decoration: none; /* remove the default underlining */
	color: red; /* white text color */
	padding: .2em 1em; /* padding the separate the buttons also for highlighting on hover */
	font-family: arial; /* font for the buttons */
}
#navbar ul li a:hover{
	color: black; /* change font color to black on hover */
	background-color: white; /* change background color to white on hover */
}
/*=======================================VID==================================================================*/
video{
	float: right; /* put it on the right hand side of the screen */
	clear: right; /* put it below the list */
	padding: 0px 150px; /* pad it to the center */
}