html{
	height: 100%; /* stretch the background image to the entire page*/
	background-color: black; /* black color till the page loads */
}
body {
	font-family: Verdana, Arial Black; /* first display using verdana, if its not there display arial black */
	font-weight: normal; 	/* no font bolding */
	font-size: 20px; /* font sizefor the entire page */
	height: 100%; 	/* to make the image cover the entire page */
	margin: 0; /* no margin so the image starts at the very edge */
}
h1{
	margin: 0; /* no white space at the top */
	text-align: center; /* center align the text */
	color: red; /* red text color */
}
/*==================================BACKGROUND=====================================================================*/
#background-image {
	background-image: url("homepagebackground.jpeg"); /* load this image */
	background-color: white; 	/* load this if the image is not present */
	height: 100%; 	/* makes the image cover the entire page */
	background-position: center; 	/* center the image */
	background-repeat: no-repeat; 	/* dont repeat the image if it is smaller than the screen */
	background-size: cover; 	/* make sure the image covers the page */
}
/*=================================NAVBAR===================================================================*/
#homepagenavbar{
	height: 50px; /* how tall the header bar would be */
	font-weight: bold; /*bold letters */
}
#homepagenavbar ul {
	list-style-type: none; /* remove the bullet points */
	margin: 0px; /*no margin so the buttons align with the h1 */
	padding: 0px; /* no padding so the buttons align with the h1 */
	text-align: center; /* center the buttons */
}
#homepagenavbar ul li {
	display: inline; /* display the buttons side by side */
}
#homepagenavbar ul li a{
	text-decoration: none; /* remove the default underlining */
	color: red; /* white text color */
	padding: .1em 1em; /* padding the separate the buttons also for highlighting on hover */
	font-family: arial; /* font for the buttons */
}
#homepagenavbar ul li a:hover{
	color: black; /* change font color to black on hover */
	background-color: white; /* change background color to white on hover */
}