html{
	height: 100%; /* make the image use the entire height */
	background-color: black; /* the entire background is black in color */
}
body {
	font-family: Verdana, Arial Black; /* first display using verdana, if its not there display arial black */
	font-weight: normal; 	/* no font bolding */
	font-size: 20px; /* font sizefor the entire page */
	height: 100%; 	/* to make the image cover the entire page */
	margin: 0; /* no margin so the image starts at the very edge */
}
h1{
	margin: 0px; /* no white margin */
	text-align: right; /* right align */
	color: red; /* red color font*/
	clear: right; /* clear right so the h1 can stack below the nav bar*/
	padding-right: 270px; /* move away from the right edge of the screen */
}
#aboutlist{
	color: red; /* red color font */
	padding-right: 200px; /* padding away from the right edge */
	float: right; /* be next to the picture */
}
/*==================================BACKGROUND=====================================================================*/
#left-image {
	background-image: url("aboutimg.jpg"); /* load this image */
	background-color: black; 	/* cover the right half of the screen black */
	height: 100%; 	/* makes the image cover the entire page */
	background-position: left; 	/* center the image */
	background-repeat: no-repeat; 	/* dont repeat the image if it is smaller than the screen */
	background-size: contain; 	/* make sure the image isnt stretched */
}
/*==================================NAVBAR=================================================================*/
#navbar{
	height: 30px; /* the nav bar will be 30px tall */
	background-color: black; /* black background */
	border-radius: 1px; /* curve the edges by 1 px*/
	font-weight: bold; /*bold letters */
	display: block; /* display as a block element  */
}
#navbar ul {
	list-style-type: none; /* remove the bullet points */
	margin: 0px; /*no margin so the buttons align with the h1 */
	padding: 0px; /* no padding so the buttons align with the h1 */
	text-align: center; /* center the buttons */
}
#navbar ul li {
	display: inline; /* display the buttons side by side */
	line-height: 28px; /* center the text within the box */
}
#navbar ul li a{
	text-decoration: none; /* remove the default underlining */
	color: red; /* white text color */
	padding: .2em 1.7em; /* padding the separate the buttons also for highlighting on hover */
	font-family: arial; /* font for the buttons */
}
#navbar ul li a:hover{
	color: black; /* change font color to black on hover */
	background-color: white; /* change background color to white on hover */
}
/*=======================================VID==================================================================*/
#motorboat{
	float: right; /* put it on the right hand side of the screen */
	clear: right; /* put it below the list */
	padding: 0px 170px; /* add 170px of left and right padding */
}
/*====================================Gif===================================================================*/
#thaiboob{
	height: auto; 	/* makes the image cover the entire page */
	padding-top: 2.9em; /* add some padding on the top so that the img doesnt overlap */
	width: 50%; /* half of the page*/
}
#pokies{
	height: 100%; /* make the image cover 100% of the page */
	float: right;	/* on the right half */
	padding-top: 2.9em; /* added padding to the top to prevent overlapping and some space */
	width: 50%; /* occupy the right half of the screen */
}
#titbounce{
	height: auto; 	/* makes the image cover the entire page */
	width: 50%; /* half of the page*/
	margin: 0px; /* no space between other pictures */
}
#tittylicking{
	height: auto; /* make the image cover 100% of the page */
	float: right;	/* on the right half */
	width: 50%; /* occupy the right half of the screen */
}
#alice-cleavage{
	height: auto; 	/* makes the image cover the entire page */
	width: 50%; /* half of the page*/
	margin: 0px; /* no space between other pictures */
}
#alice-cleavage2{
	height: auto; /* make the image cover 100% of the page */
	float: right;	/* on the right half */
	width: 50%; /* occupy the right half of the screen */
}
#alice-cleavage3{
	height: auto; 	/* makes the image cover the entire page */
	width: 50%; /* half of the page*/
	margin: 0px; /* no margin between pictures */
}
#fingerbite{
	height: auto; /* make the image cover 100% of the page */
	float: right;	/* on the right half */
	width: 50%; /* occupy the right half of the screen */
}
/*=========================================MEDIAQUERIES==============================================*/
@media (max-width: 600px) {

h1{
	margin: 0px; /* 50px margin to move away from  */
	text-align: center; /* center align */
	color: red; /* red color font*/
	clear: right; /* clear right so the h1 can stack below the nav bar*/
	padding-right: 0px; /* move away from the right edge of the screen */
	padding-top: 500px;
}
#aboutlist{
	color: red; /* red color font */
	padding-right: 0px; /* padding away from the right edge */
}
#left-image {
	background-image: url("aboutimg.jpg"); /* load this image */
	background-color: black; 	/* cover the right half of the screen black */
	height: 100%; 	/* makes the image cover the entire page */
	background-size: contain;
}
#motorboat{
	padding-right: 20px;
	padding-top: 0px;
	margin-left: 50px;
}
#thaiboob{
	height: auto; 	/* makes the image cover the entire page */
	width: 100%; /* half of the page*/
}
#pokies{
	height: auto; /* make the image cover 100% of the page */
	float: right;	/* on the right half */
	width: 100%; /* occupy the right half of the screen */
}
#titbounce{
	height: auto; 	/* makes the image cover the entire page */
	width: 100%; /* half of the page*/
	margin: 0px; /* no space between other pictures */
}
#tittylicking{
	height: auto; /* make the image cover 100% of the page */
	float: right;	/* on the right half */
	width: 100%; /* occupy the right half of the screen */
}
#alice-cleavage{
	height: auto; 	/* makes the image cover the entire page */
	width: 100%; /* half of the page*/
	margin: 0px; /* no space between other pictures */
}
#alice-cleavage2{
	height: auto; /* make the image cover 100% of the page */
	float: right;	/* on the right half */
	width: 100%; /* occupy the right half of the screen */
}
#alice-cleavage3{
	height: auto; 	/* makes the image cover the entire page */
	width: 100%; /* half of the page*/
	margin: 0px; /* no margin between pictures */
}
#fingerbite{
	height: auto; /* make the image cover 100% of the page */
	float: right;	/* on the right half */
	width: 100%; /* occupy the right half of the screen */
}
}